body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item {
    font-size: 13px;
    margin-top: 42px;
}

.menu__item a {
    color: white;

}

.main-header img {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 56px;
    width: 116px;
}

.main-header {
    background-color: #2A2F1B;
}

.phone {
    margin-left: -25px;
    font-size: 14px;
    margin-top: 40px;
    width: 116px;

}

.callback {
    color: white;
    font-size: 12px;
    font-family: Raleway sans-serif;
    font-weight: 700;
    width: 112px;
    height: 28px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 37px;
    margin-left: 25px;

}

.basket {
    color: white;
    font-size: 14px;
    font-family: Raleway sans-serif;
    font-weight: 700;
    background: transparent;
    margin-top: 37px;
    height: 20px;
    border: none;

}

.basket__img img {
    margin-top: 37px;
    height: 22px;
    width: 33px;
}

.basket__menu img {
    width: 12px;
    height: 6px;
    margin-top: 46px;
}

.title {
    background: url("../img/title_bg.png") no-repeat top;
}

.tagline {
    text-align: center;
    padding-top: 143px;
    font-weight: 200;
    font-size: 25px;
    color: #2A2F1B;
}

.name {
    font-family: Berkshire Swash;
    color: #2A2F1B;
    font-size: 55px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
}

.tagline2 {
    font-weight: 300;
    font-size: 15px;
    color: black;
    text-align: center;

}

.line {
    width: 553px;
    border-bottom: 1.2px #2A2F1B solid;

    margin: 11px auto;

}

.choice {
    margin-top: 50px;
    margin-bottom: 176px;
    background-color: #D39246;
    border-radius: 10px;
    width: 205px;
    height: 44px;
    text-align: center;
    font-size: 15px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    font-family: Raleway sans-serif;
    color: white;
    box-shadow: 0 20px 90px rgba(173, 118, 57, 0.35);
    opacity: 70%;
}

.we_services {
    font-family: Raleway sans-serif;
    color: #2A2F1B;
    font-size: 32px;
    margin-top: 100px;
    font-weight: 600;

}

.we_services h2 {
    font-family: Raleway sans-serif;
    color: #2A2F1B;
    font-size: 32px;
    font-weight: 600;

}

.card {

    margin-top: 70px;
    border-radius: 10px;
    height: 400px;
    color: #2A2F1B;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);


}


.card_services {

    text-align: center;
    width: 370px;
    height: 315px;

}

.card_services span {
    color: #2A2F1B;
    font-size: 25px;
    font-weight: 600;
    font-family: Raleway sans-serif;
    margin-top: 38px;
    margin-bottom: 100px;
}

.collection__title {
    font-family: Raleway sans-serif;
    color: #2A2F1B;
    font-weight: 600;
    font-size: 32px;
    margin-top: 172px;
}

.btn__collection {
    font-family: Raleway;
    text-align: center;

    margin-top: -56px;
    background: rgba(176, 122, 60, 0.65);


    color: white;
    border: none;
    display: block;
    position: absolute;
    width: 350px;
    height: 56px;
    margin-bottom: 100px;

    font-weight: 600;
    font-size: 25px;


}
.collections{

}

.collection__card__item img {
    margin-top: 70px;

    width: 350px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}
.new__item__title h2 {
    text-align: center;
    font-family: Raleway;
    color: #2A2F1B;
    font-weight: 600;
    font-size: 32px;
    margin-top: 70px;
}
.new__item__title card{
    margin-top: 90px;
}
.card__item{
    margin-top: 70px;
    width: 250px;
    height: 197px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #e0dbd7;
}
.card__btn__buy{
    margin-top: 40px;
    width: 250px;
    height: 166px;
    border: none;
    background-color: white;

}
.card__btn__buy h3{
    padding-top: 0px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 17px;
    width: 250px;
    height: 52px;
}
.card__btn__buy h4{
    padding: 0px;
    font-family: Raleway;
    font-size: 15px;
    height: 35px;

}
.item__price{
    padding-top: 17px;
    padding-bottom: 0px;
}

.about{
    margin-top: 270px;
    color: #2A2F1B;
    text-align: center;
    font-family: Raleway;
    font-weight: 600;
    font-size: 32px;
}
.title__text{
    margin-top: 70px;
    font-family:Berkshire Swash;
}
.title__body {
    width:380px ;
    height:198px ;
    margin-top: 7px;
    padding-top: 17px;
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: normal;
    text-align: center;

    margin-left: 30px;

    line-height: 1.2em ;

}
.about__card{
    margin-top: 70px;
    background: url("../img/about.png");
    width: 570px;
    height: 267px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.card__advantages{
    margin-top: 84px;
    border: red 1px solid;
    width: 270px;
    height: 47px;
    font-size: 16px;
    text-align: end;
    font-weight: 400;
    line-height: 19px;
}
.card__advantages img{
    Width:70px;
    Height: 47px;
}







